
/*********** Custum CSS Styles **********/

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* Default header styles */
h1 {
  font-family: 'Allerta', sans-serif;
  font-size: 2em;
  font-style: normal;
  color: #c11600;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em; }

h2 {
  font-family: "Anton", sans-serif;
  font-size: 1.5em;
  font-style: normal;
  color: #8a8989;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em; }

.subheader {
  line-height: 1.4;
  font-family: "Anton", sans-serif;
  color: #8a8989;
  font-weight: 300;
  margin-top: 0.2em;
  margin-bottom: 0.5em; }

.section-container ul li { 
  list-style: none;
  padding: 0 0 25px 0;
  
}

.section-container li .social { 
  
  
}

.footer {
  width: 100%;
  background: #B8460D;
  min-height: 100px;
  margin: 10px auto;
  padding: 20px 0 0 0;
  color: white; 
}
.contain-to-grid {
  width: 100%;
  background: #B8460D;
  margin-top: 2.2em; }
  .contain-to-grid .top-bar {
    margin-bottom: 1.875em; 
  }

.top-bar .logo {
  position: relative;
  top: -5.3em;
}

.top-bar .title-area {
    position: relative;
    margin: 0; }
    @media only screen and (min-width: 769px) {
.top-bar .title-area {
    position: relative;
    margin: 0 0 -5.3em 0;}}

.top-bar .name {
    height: 45px;
    margin: 0;
    font-size: 16; }
    .top-bar .name h1 {
      line-height: 45px;
      font-size: 1.0625em;
      margin: 0; }
      .top-bar .name h1 a {
        font-weight: bold;
        color: white;
        width: 80%;
        display: block;
        padding: 0 15px; }